.venv
venv
.ide
app/migrations/versions/__pycache__/087a13eb7fd7_.cpython-312.pyc
app/migrations/versions/__pycache__/633a351609b0_.cpython-312.pyc
app/migrations/versions/__pycache__/669d1d1ecb83_.cpython-312.pyc
app/migrations/versions/__pycache__/803eeb2eb9e2_.cpython-312.pyc
app/migrations/versions/__pycache__/63975af1348c_.cpython-312.pyc
app/migrations/versions/__pycache__/401185453ea7_.cpython-312.pyc
app/migrations/versions/__pycache__/bd19b5eadc47_changed_to_biginteger.cpython-312.pyc
app/migrations/versions/__pycache__/ec486743514a_.cpython-312.pyc
app/migrations/versions/__pycache__/f239862fdf87_.cpython-312.pyc
app/models/__pycache__/__init__.cpython-312.pyc
app/models/__pycache__/users.cpython-312.pyc
app/utils/__pycache__/config.cpython-312.pyc
app/utils/__pycache__/datebase.cpython-312.pyc
app/migrations/__pycache__/env.cpython-312.pyc
app/__pycache__/main.cpython-312.pyc
app/__pycache__/registration.cpython-312.pyc
app/callback/__pycache__/jobs.cpython-312.pyc
app/callback/__pycache__/profile.cpython-312.pyc
app/callback/__pycache__/questionnaire.cpython-312.pyc
app/keyboards/__pycache__/jobs.cpython-312.pyc
app/keyboards/__pycache__/questionnaire.cpython-312.pyc
app/keyboards/__pycache__/start.cpython-312.pyc
app/migrations/versions/__pycache__/15e0fbf6a8d3_rename_time_created_to_created_at_in_.cpython-312.pyc
app/utils/__pycache__/seed_data.cpython-312.pyc
